#tables {
    float:right;
    width:65%;
}

table tr td{
    height:50px;
}

table td .btn {
    padding:0 6px;
}

table a {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

table a:hover {
    text-decoration: none;
    color:rgb(108, 184, 180);
}

#search_field {
    float:left;
    width:30%;
    background: #bbc1cc;
    padding: 5px 20px;
}

#content {
    width:100%;
    margin: 20px auto;
}

#leftdiv {
    width:50%;
    float:left;
}

#rightDiv {
    width:50%;
    padding:75px;
    float:right;
    height:200px;
}

.modal-body {
    background:#e1e1e1;
    min-height:300px;
}

@media only screen and (max-width: 768px) {
    #leftdiv, #rightDiv {
        float:none;
        height:200px;
        width:100%;
        padding:10px;
    }

    #rightDiv {
        height:75px;
    }

    #removable{
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    #search_field{
        float:none;
        width:100%;
        margin:0 auto;
        height:380px;
    }

    #search_field input, select, label {
        height: 35px;
    }

    #search_field h1 {
        font-size: 1.8em;
        margin: 0.5em;
    }
    
    #tables {
        float:none;
        width:100%;
        margin:0 auto;
    }
}